name: PR

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  buf-lint:
    name: Buf lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          version: latest
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: proto
